.product-details-buttons-container {
    display: flex;
    flex-direction: column;
    @media(max-width: 320px){
        padding: 0px 10px;
    }
    @media (min-width: 320px){
        padding: 0px 20px;
    }
    @media (min-width: 960px){
        padding: 0px;
    }
    .product-details-link {
        text-decoration: none;
        display: flex;
        max-width: 280px;
        margin-bottom: 20px;
        .primary-button {
            input {
                cursor: pointer;
                width: 280px;
            }
        }
        .second-button {
            input {
                cursor: pointer;
                width: 280px;
            }
        }
    }
}


.product-details {
    @media (max-width: 700px){
        height: 100%;
        padding-bottom: 20px;
    }
    @media (min-width: 700px){
        height: 88.5vh;
    }
}