.welcome-title-container {
    @media(max-width:336px){
        display: flex;
        justify-content: center;
    }
    @media (max-width: 960px){
        padding: 20px;
    }
    @media (min-width: 960px){
        padding: 20px 0px;
    }
    h2 {
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        color: var(--gray-color);
    }
}