.button input {
    border: 1px solid var(--blue-color);
    border-radius: 4px;
    width: 100%;
    min-height: 42px;
    font-size: 16px;
    font-weight: bold;
    color: var(--blue-color);
    cursor: pointer;
}

.button input:hover {
    background-color: rgb(245, 245, 245);
}
