.product-details-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 960px) {
        padding: 0px 20px;
    }
    .product-details-card {
        width: 100%;
        background-color: var(--white-color);
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid var(--gray-light-color);
        .product-details-card-image {
            padding: 10px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 220px;
                height: 220px;
            }
        }
        .product-details-card-infos {
            border-top: 1px solid var(--gray-light-color);
            padding: 10px 20px;
            .product-details-card-price {
                h3 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 27.24px;
                    color: var(--green-color);
                }
                span {
                    margin-right: 5px;
                }
            }
            .product-details-card-name {
                margin-bottom: 10px;
                h3 {
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16.34px;
                    color: var(--gray-color);
                }
            }
            .product-details-card-description {
                margin-bottom: 20px;
                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.34px;
                    color: var(--gray-color);
                }
            }
            .product-details-card-categories {
                display: flex;
                @media (max-width: 540px){
                    flex-direction: column;
                    align-items: flex-start;
                    
                }
                @media (min-width: 540px){
                    justify-content: start;
                    align-items: center;
                }
            }
        }
    }
}