#cart-product-card {
    padding: 20px;
}

#cart-buttons {
    margin: 0px 20px;
    .cart-buttons-container {
        @media(max-width: 320px){
            input{
                width: 100%;
            }
        }
        @media(min-width: 320px){
            input {
                max-width: 280px;
            }
        }
        .primary-button {
            input {
                margin-bottom: 20px;
            }
        }
    }
}

main {
    height: 90vh;
}