.cart-product-card-container {
    margin-bottom: 20px;
}

#cart-product-card {
    padding: 20px;
}

#cart-buttons {
    margin: 0px 20px;
}

.cart-buttons-container {
    @media(max-width: 320px){
        input{
            width: 100%;
        }
    }
    @media(min-width: 320px){
        input {
            max-width: 280px;
        }
    }
}

.cart-link {
    text-decoration: none;
    display: flex;
    max-width: 280px;
    margin-bottom: 20px;
    .primary-button {
        input {
            cursor: pointer;
            width: 280px;
        }
    }
    .second-button {
        input {
            cursor: pointer;
            width: 280px;
        }
    }
}