:root {
    --yellow-color: #FFE500;
    --white-color: #FFFFFF;
    --gray-color: #636363;
    --gray-light-color: #D9D9D9;
    --gray-background-color: #E8E8E8;
    --green-color: #0CAF1D;
    --blue-color: #3483FA;
    --gray-light-placeholder-color: #C4C4C4;
}

.product-card {
    background-color: var(--white-color);
}

.product-card hr {
    border: 0.5px solid var(--gray-light-color);
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-info {
    padding: 10px 20px;
}

.product-price {
    color: var(--green-color);
}

.product-name {
    color: var(--gray-color);
    margin-bottom: 10px;
}

.product-description {
    padding-bottom: 20px;
    font-size: 12px;
    color: var(--gray-color);
}

.product-categories {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-categorie {
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    min-height: 30px;
    background-color: var(--gray-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.button {
    margin-bottom: 20px;
}

.button input {
    min-width: 220px;
    min-height: 42px;
    border-radius: 4px;
}

.buy-button input{
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.buy-button input:hover{
    background-color: #70a8fd;
}

.home-button input{
    background-color: var(--white-color);
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.home-button input:hover{
    background-color: rgb(239, 239, 239);
}

.button-section {
    padding: 0px 15px;
}
