.product-row {
    border-top: 1px solid var(--gray-light-color);
}

.product-id {
    @media (max-width: 692px){
        display: none;
    }
    width: 14.375%;
    text-align: center !important;
    vertical-align: middle;
    h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        color: var(--gray-color);
    }
}
.product-image {
    width: 10%;
    max-width: 176px;
    img {
        vertical-align: middle;
        margin-left: 10px;
        width: 69px;
        height: 69px;
    }
}

.product-price {
    @media (max-width: 692px){
        display: none;
    }
    width: 14.375%;
    text-align: center !important;
    vertical-align: middle;
    h4{
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        color: var(--gray-color);
    }

}

.product-name {
    width: 40%;
    @media (max-width: 692px) {
        h4 {
            font-size: 12px;
            font-weight: 400;
            line-height: 16.34px;
            color: var(--gray-color);
        }
    }
    @media(min-width: 692px){
        h4 {
            font-size: 16px;
            font-weight: 400;
            line-height: 21.79px;
            color: var(--gray-color);
        }
    }
}

.edit-button {
    @media (max-width: 415px){
        width: 8%;
    }
    @media (min-width: 415px){
        width: 6%;
    }
    max-width: 52px;
    img {
        height: 20px;
        cursor: pointer;
    }
}

.delete-button {
    @media (max-width: 415px){
        width: 8%;
    }
    @media (min-width: 415px){
        width: 5%;
    }
    max-width: 17px;
    img {
        height: 20px;
        cursor: pointer;
    }
}