.cart-confirmation-product-card-container {
    background-color: var(--white-color);
    border: 1px solid var(--gray-light-color);
    border-radius: 4px;
    
    .cart-confirmation-product-total-price {
        @media(min-width: 400px){
            display: flex;
            justify-content: end;
        }
        padding: 10px 20px;
        font-weight: 700;
        color: var(--green-color);
        @media(max-width: 960px){
            h2 {
                font-size: 16px;
                line-height: 21.79px;
            }
        }
        @media(min-width: 960px){
            h2 {
                font-size: 20px;
                line-height: 27.23px;
            }
        }
    }
}
